In [1]:
import pandas as pd

# Sample synthetic loan dataset
data = {
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female'],
    'Married': ['Yes', 'No', 'Yes', 'No', 'Yes'],
    'Education': ['Graduate', 'Not Graduate', 'Graduate', 'Graduate', 'Not Graduate'],
    'ApplicantIncome': [5000, 3000, 4000, 2500, 6000],
    'LoanAmount': [200, 100, 150, 80, 250],
    'Credit_History': [1, 0, 1, 1, 0],
    'Loan_Status': ['Y', 'N', 'Y', 'Y', 'N']
}

df = pd.DataFrame(data)
df.head()

,Gender,Married,Education,ApplicantIncome,LoanAmount,Credit_History,Loan_Status
0,Male,Yes,Graduate,5000,200,1,Y
1,Female,No,Not Graduate,3000,100,0,N
2,Male,Yes,Graduate,4000,150,1,Y
3,Male,No,Graduate,2500,80,1,Y
4,Female,Yes,Not Graduate,6000,250,0,N

In [2]:
# Shape and column names
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

# Missing values
print("Missing values:\n", df.isnull().sum())

# Summary statistics
print("Summary:\n", df.describe(include='all'))

# Target distribution
print("Loan Status Distribution:\n", df['Loan_Status'].value_counts())

Shape: (5, 7)
Columns: ['Gender', 'Married', 'Education', 'ApplicantIncome', 'LoanAmount', 'Credit_History', 'Loan_Status']
Missing values:
 Gender             0
Married            0
Education          0
ApplicantIncome    0
LoanAmount         0
Credit_History     0
Loan_Status        0
dtype: int64
Summary:
        Gender Married Education  ApplicantIncome  LoanAmount  Credit_History  \
count       5       5         5         5.000000    5.000000        5.000000
unique      2       2         2              NaN         NaN             NaN
top      Male     Yes  Graduate              NaN         NaN             NaN
freq        3       3         3              NaN         NaN             NaN
mean      NaN     NaN       NaN      4100.000000  156.000000        0.600000
std       NaN     NaN       NaN      1431.782106   70.213959        0.547723
min       NaN     NaN       NaN      2500.000000   80.000000        0.000000
25%       NaN     NaN       NaN      3000.000000  100.000000        0.000000
50%       NaN     NaN       NaN      4000.000000  150.000000        1.000000
75%       NaN     NaN       NaN      5000.000000  200.000000        1.000000
max       NaN     NaN       NaN      6000.000000  250.000000        1.000000

       Loan_Status
count            5
unique           2
top              Y
freq             3
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN
Loan Status Distribution:
 Loan_Status
Y    3
N    2
Name: count, dtype: int64

In [7]:
import os

# Define the folder path
folder_path = os.path.abspath('../data')

# Create the folder if it doesn't exist
os.makedirs(folder_path, exist_ok=True)
print("Folder created or already exists:", folder_path)

Folder created or already exists: C:\Users\Deepak khadka\data

In [8]:
file_path = os.path.join(folder_path, 'loan_data.csv')
df.to_csv(file_path, index=False)
print("File saved to:", file_path)

File saved to: C:\Users\Deepak khadka\data\loan_data.csv